@font-face { font-family: paris; src: url('paris.ttf'); } 
@font-face { font-family: droid; src: url('droid.ttf'); } 
@font-face { font-family: raleway; src: url('raleway.ttf'); } 

.body {	position: relative; }

h1 { font-family: "droid";
	 font-size: 30px;}

h2 { font-family: "raleway";
	 font-size: 26px;
		min-height:32px;}
		
.aboutus h4 { font-family:"raleway";
			  font-size:2rem;
			  line-height:1.5; }
		
ul.nav li a:hover {
	color: gray !important;
    background: none;
	border-style: none;
	}

.navbar-trans a {color: black !important;}

.navbar-toggle .icon-bar {border:1px solid black; }

.nav li.active a{
    color: black;
    text-decoration: underline;
	background:none !important;
	border:none;
}

.navbar-trans {
    font-family: "raleway";
	border-color: gray;
	background-color: #FAFAFA;
	vertical-align:center;}

.navbar-trans .navbar-brand {
	font-family: "paris"; 
	font-size: 3.5rem;
	text-align:center;}

.navbar-trans li a:hover {
	color: black !important;
	background-color: none !important;
	text-decoration: underline; }

.navbar-trans {
    padding: 2.5px;
	font-size: 1.6rem;}
	
.carousel-inner > .item > img {
  min-height: 600px;
  overflow: hidden;
  width: 100%;
}
	
.carousel, .carousel-inner { height:600px;}

.spaservices { padding: 5px; 
line-height: 2;}
	
.gmaps {max-width:auto!important;
		background:none!important;
		float:right;	}

iframe, object, embed{max-width: 100%;}

.aboutus { padding-left: 3em;
    text-indent:-3em;}

dt, dd, .aboutus {font-family: "raleway";
		font-size: 1.75rem;}

.iconblack {color:black;}

h4 { min-height:32px;
	 font-family:cambria}
	 
.icons li a {font-size:2.5rem;}

.contact .fa {font-size:2.5rem;}

.col-sm-6 h3 {font-family: "raleway"}

.col-sm-6 h4 {font-family: "droid"}

#instafeed a {
  padding:5px 5px 1px 5px;
  margin:10px;
  border:1px solid #e1e1e1;
  display:inline-block;
  border-radius: 4px;
  position:relative;
}

#instafeed .likes {
  background:rgba(255,255,255,0.80);
  font-family:sans-serif;
  font-size:1.25em;
  position:absolute;
  color:gray;
  right:5px;
  top:5px;
  left:5px;
  opacity:0;
  text-align:center;
  line-height:150px;
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

.price {float:right;}

@media (max-width:800px) { 
	.body {}
    .navbar .navbar-brand {
        font-size:3.25rem;
        padding: 15px 0 15px 15px; }
	.navbar-trans {font-size: 1.6rem;}
	.carousel-inner > .item > img {
  min-height: 300px;
  overflow: hidden;}
.carousel, .carousel-inner { height:300px;}
}

@media (max-width:450px) { 
    .navbar .navbar-brand {
        font-size:2.20rem;
        padding: 15px 0 15px 15px;
    }
	.navbar-trans {
	font-size: 1.10rem;
	}

}

